$color-white:#ffffff;
$color-gray:#ccc;
$color-blue: rgb(84, 192, 212);
$color-navy: #001937;


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;

    color: $color-navy;
    padding: 5px;
    margin: 6px;

    background-color: $color-white;
  }

.Slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
 }
  
  .slide {
    width: 100%;
    height: 700px;
    box-shadow: 0 1 1em $color-blue;
    // animation: ani 4s linear; 
}
.btn{
    margin:5px;
}
.btn-active{
 
    &:active,
    &:focus,
    &:hover {
        background-color: 0 1 1em $color-blue;
        color:$color-blue;
    
    }
    
}

h2,h1{
    padding: 15px;
    margin: 20px;
    color: $color-blue;
    font-size: 3rem;
    text-align: left; 
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Dameron Halftone Italic"; 
}

.name{
    padding: 15px;
    margin: 15px;
    color: $color-blue;
    font-size:3,5rem;
    text-align: center; 
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Dameron Halftone Italic"; 
}


form{
    margin: 10px;
    padding: 10px;
}

.btn, .rooms{
    letter-spacing: 1px;
}

.room{

    &_header{
        padding: 15px;
        margin: 15px;
        margin-top: 50px;
        color: $color-blue;
        font-size: 2rem;
        text-align: left; 
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;

    }

    &_description{
        font-family: 'Mukta', sans-serif;
        text-align: center; 
        letter-spacing: 2px;
        margin-right: 100px;
        margin-left: 100px;
    }

    &_price{
        text-align: center;
        font-size: 2rem;
    }
}
.contact{
    &_box{
        background: $color-white;
        display: flex;
    }

    &_left{
        flex-basis: 60%;
        padding: 40px 60px;
        color: $color-navy;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    &_right{
        flex-basis: 40%;
        padding: 40px;
        background: rgba(200, 200, 200, 0.193);
        color:$color-navy;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    &_us-h1{
        margin-bottom: 10px;
    }

    &_us-h3{
        color: $color-navy;
        font-weight: 600;
        margin-bottom: 30px;
    }
}    
.input_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input_row .input_group{
    flex-basis: 45%;
    letter-spacing: 1px;
}
.input_contact{
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-gray;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border:1px solid $color-gray;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: 1px;
}
label{
    margin-bottom: 6px;
    display: block;
    color: $color-navy;
}


tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 1,5rem;
}